*.[oa]
*.sw[ijklmnop]
*.orig
*~
*.pyc
*.bin
*.config
.DS_Store
._*
.project
.buildpath
.settings
.reviewboardrc
.idea
out
*.iml
logs/
logs
banklogs
src/main/webapp/WEB-INF
src/main/webapp/WEB-INF/
target
target/
lib/bankgate-release-1.0-SNAPSHOT/
lib/bankgate-release-1.0-SNAPSHOT
lib/classes
lib/classes/
lib/maven-archiver
lib/maven-archiver/
lib/maven-status
lib/maven-status/

